@model EventsSchedule.Web.ViewModels.News.NewsViewModel

@{
    ViewData["Title"] = "NewsDetails";
}

<div asp-controller="News" asp-action="NewsDetails" asp-route-newsId="@Model.Id" class="row">
    <h2>
        @Model.Title
    </h2>
    <hr />
    <hr />
    <div>
        @Html.Raw(Model.SanitizedContent)
    </div>
    <div>
        <time class="text-muted" datetime="@Model.CreatedOn.ToString("O")"></time>
    </div>

    @if (this.User.IsInRole("Administrator"))
    {
        <div class="px-4 pt-3">
            <a asp-controller="News" asp-action="Edit" asp-route-eventId="@Model.Id" class="btn btn-primary">Промени</a>
            <a asp-controller="News" asp-action="Delete" asp-route-eventId="@Model.Id" class="btn btn-primary">Изтрий</a>
        </div>
    }
</div>