@model EventsSchedule.Web.ViewModels.Reviews.ListReviewsViewModel
@{
    ViewData["Title"] = "ListAllReviews";
}

<h1>Всички коментари</h1>

@foreach (var review in this.Model.EventReviews.OrderByDescending(r => r.CreatedOn))
{
    <div class="row">
        <div class="col-12 m-2">
            <div class="card card-white post p-3">
                <div class="post-heading">
                    <input type="hidden" name="Id" value="@Model.EventId" />
                    <div class="float-left image m-3">
                        <img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar" alt="user profile image">
                    </div>
                    <div>
                        <div>
                            @review.ApplicationUserUserName
                        </div>
                        <div class="review-rating pull-right">
                            @for (int i = 0; i < review.Rating; i++)
                            {
                                <i class="fa fa-star"></i>
                            }
                            @for (int i = 0; i < 5 - review.Rating; i++)
                            {
                                <i class="fa fa-star-o empty"></i>
                            }
                        </div>
                        <time class="text-muted" datetime="@review.CreatedOn.ToString("O")"></time>
                    </div>
                    <div>
                        <div class="post-description m-3">
                            <p>@Html.Raw(review.SanitizedComment)</p>
                        </div>
                    </div>
                    @if (this.User.IsInRole("Administrator"))
                    {
                        <div class="px-4 pt-3">
                            <a asp-area="Administration" asp-controller="Reviews" asp-action="Delete" asp-route-id="@review.Id" asp-route-eventId="@review.EventId" class="btn btn-primary">Изтрий</a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}

<nav aria-label="...">
    <ul class="pagination justify-content-center">
        @if (this.Model.CurrentPage == 1)
        {
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
        }
        else
        {
            <li class="page-item">
                <a class="page-link" asp-controller="Reviews" asp-action="ListAllReviews" asp-route-eventId="@this.Model.EventId" asp-route-page="@(this.Model.CurrentPage - 1)" tabindex="-1">Previous</a>
            </li>
        }

        @for (int i = 1; i <= this.Model.PagesCount; i++)
        {
            var active = i == this.Model.CurrentPage ? "active" : string.Empty;

            <li class="page-item @active">
                <a class="page-link" asp-controller="Reviews" asp-action="ListAllReviews" asp-route-eventId="@this.Model.EventId" asp-route-page="@i">@i</a>
            </li>
        }

        @if (this.Model.CurrentPage == this.Model.PagesCount)
        {
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Next</a>
            </li>
        }
        else
        {
            <li class="page-item">
                <a class="page-link" asp-controller="Reviews" asp-action="ListAllReviews" asp-route-eventId="@this.Model.EventId" asp-route-page="@(this.Model.CurrentPage + 1)" tabindex="-1">Next</a>
            </li>
        }
    </ul>
</nav>