@model EventsSchedule.Web.ViewModels.Home.IndexViewModel
@using EventsSchedule.Web.ViewModels.Events

@{
    ViewData["Title"] = "Schedule";
}

<div class="title-start schedule-menu mt-5">
    <h2 class="sub-text text-center">Провери детайлите по всяко събитие</h2>
</div>
<form method="post" asp-controller="Home" asp-action="Index" asp-route-eventCategoryId="@Model.EventCategoryId" asp-route-priceSort="@Model.PriceSort" asp-route-cityId="@Model.CityId" asp-route-typicalAgeRangeSort="@Model.TypicalAgeRangeSort" asp-route-page="@Model.CurrentPage">
    <div class="row">
        <div class="sort-filter col">
            <span class="text-uppercase font-weight-bold">Избери:</span>
            <select class="w-75 p-0 border border-dark form-control" name="PriceSort" id="Sort" onchange="this.form.submit();">
                <option selected disabled>Избери</option>
                <option value="1" selected="@(Model.PriceSort.ToString() == "PriceAscending" ? true : false)">Цена(възх.)</option>
                <option value="2" selected="@(Model.PriceSort.ToString() == "PriceDescending" ? true : false)">Цена(низх.)</option>
            </select>
        </div>
        <div class="sort-filter col">
            <div class="select sort-filter">
                <label class="text-uppercase" for="CityId">Град:</label>
                <select asp-for="CityId" class="w-75 p-0 border border-dark form-control" onchange="this.form.submit();">
                    <vc:cities></vc:cities>
                </select>
                <span asp-validation-for="CityId" class="text-danger"></span>
            </div>
        </div>
        <div class="sort-filter col">
            <span class="text-uppercase font-weight-bold">Възраст:</span>
            <select class="w-75 p-0 border border-dark form-control" name="TypicalAgeRangeSort" id="Sort" onchange="this.form.submit();">
                <option selected disabled>Избери възрастова категория</option>
                <option value="1" selected="@(Model.TypicalAgeRangeSort.ToString() == "BabiesAndTodlers" ? true : false)">Бебета и деца до 7 години</option>
                <option value="2" selected="@(Model.TypicalAgeRangeSort.ToString() == "StudentsPrimarySchool" ? true : false)">Ученици основно училище</option>
                <option value="3" selected="@(Model.TypicalAgeRangeSort.ToString() == "StudentsHighSchool" ? true : false)">Гимназисти и студенти</option>
                <option value="4" selected="@(Model.TypicalAgeRangeSort.ToString() == "Adults" ? true : false)">Възрастни</option>
            </select>
        </div>
    </div>
</form>

<div class="container m-0 p-0">
    <div id="schedule" class="row m-0">

        <ul class="p-0 w-100">
            @foreach (var eventToDisplay in Model.Events)
            {
                    <li class="col-sm-6">
                        <div class="timeline-badge">
                            <a><i class="fa fa-circle" id=""></i></a>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <a asp-controller="Events" asp-action="EventById" asp-route-eventId="@eventToDisplay.Id">
                                    <h4>@eventToDisplay.Title</h4>
                                </a>
                            </div>
                            <div class="timeline-body">
                                <div class="timeline-desc col-md-6">@Html.Raw(eventToDisplay.ShortDescription)</div>
                                <p class="timeline-other col-md-6">
                                    <em class="timeline-item">
                                        Категория : @eventToDisplay.EventCategory.Name
                                    </em>
                                    <em class="timeline-item">
                                        Капацитет : @eventToDisplay.MaximumAttendeeCapacity
                                    </em>
                                    <em class="timeline-item">
                                        Цена: $@eventToDisplay.Price
                                    </em>
                                    <em class="timeline-item">
                                        Дата : @eventToDisplay.DoorTime
                                    </em>
                                    <em class="timeline-item">
                                        Град : @eventToDisplay.AddressCityName
                                    </em>
                                </p>
                            </div>
                        </div>
                    </li>
            }
        </ul>
    </div>
</div>

<nav style="margin-bottom = 2em;" aria-label="...">
    <ul class="pagination justify-content-center">
        @if (this.Model.CurrentPage == 1)
        {
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
        }
        else
        {
            <li class="page-item">
                <a class="page-link" asp-controller="Home" asp-action="Index" asp-route-eventCategoryId="@Model.EventCategoryId" asp-route-cityId="@Model.CityId" asp-route-typicalAgeRangeSort="@Model.TypicalAgeRangeSort" asp-route-page="@(this.Model.CurrentPage - 1)" tabindex="-1">Previous</a>
            </li>
        }

        @for (int i = 1; i <= this.Model.PagesCount; i++)
        {
            var active = i == this.Model.CurrentPage ? "active" : string.Empty;

            <li class="page-item @active">
                <a class="page-link" asp-controller="Home" asp-action="Index" asp-route-page="@i" asp-route-eventCategoryId="@Model.EventCategoryId" asp-route-cityId="@Model.CityId" asp-route-typicalAgeRangeSort="@Model.TypicalAgeRangeSort">@i</a>
            </li>
        }

        @if (this.Model.CurrentPage == this.Model.PagesCount)
        {
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Next</a>
            </li>
        }
        else
        {
            <li class="page-item">
                <a class="page-link" asp-controller="Home" asp-action="Index" asp-route-page="@(this.Model.CurrentPage + 1)" tabindex="-1" asp-route-eventCategoryId="@Model.EventCategoryId" asp-route-cityId="@Model.CityId" asp-route-typicalAgeRangeSort="@Model.TypicalAgeRangeSort">Next</a>
            </li>
        }
    </ul>
</nav>
