@model EventsSchedule.Web.ViewModels.Home.IndexViewModel
@using EventsSchedule.Web.ViewModels.Events

@{
    int countTopEvents = 0;
}

@{
    ViewData["Title"] = "Schedule";
}

<div class="nav-element pb-4">
    <a class="btn btn-dark" asp-area="" asp-controller="Events" asp-action="Create" title="Създай своето събитие">Създай свето събитие</a>
</div>

<form method="post" asp-controller="Home" asp-action="Index" asp-route-eventCategoryId="@Model.EventCategoryId" asp-route-cityId="@Model.CityId">
    <input type="hidden" name="SortOrder" value="@Model.Sort">
    <div class="sort-filter">
        <span class="text-uppercase font-weight-bold">Сортирай по:</span>
        <select class="w-25 p-0 border border-dark" name="Sort" id="Sort" onchange="this.form.submit();">
            <option value="1" selected="@(Model.Sort.ToString() == "PriceAscending" ? true : false)">Цена(възх.)</option>
            <option value="2" selected="@(Model.Sort.ToString() == "PriceDescending" ? true : false)">Цена(низх.)</option>
        </select>
    </div>
    <div class="sort-filter">
        <div class="select sort-filter">
            <label for="CityId">Град:</label>
            <select asp-for="CityId" class="w-25 p-0 border border-dark" onchange="this.form.submit();">
                <vc:cities></vc:cities>
            </select>
            <span asp-validation-for="CityId" class="text-danger"></span>
        </div>
    </div>
</form>

<section id="schedule" class="row">
    <div class="title-start schedule-menu col-md-4 col-md-offset-4">
        <br />
        <h2>Events Schedule</h2>
        <p class="sub-text text-center">Check out the event details</p>
    </div>
    <ul class="timeline">
        @foreach (var eventToDisplay in Model.Events)
        {
            countTopEvents++;
            if (countTopEvents % 2 != 0)
            {
                <li>
                    <div class="timeline-badge">
                        <a><i class="fa fa-circle" id=""></i></a>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <a asp-controller="Events" asp-action="EventById" asp-route-eventId="@eventToDisplay.Id">
                                <h4>@eventToDisplay.Title</h4>
                            </a>
                        </div>
                        <div class="timeline-body">
                            <div class="timeline-desc col-md-6">@Html.Raw(eventToDisplay.ShortDescription)</div>
                            <p class="timeline-other col-md-6">
                                <em class="timeline-item">
                                    Category : @eventToDisplay.EventCategory.Name
                                </em>
                                <em class="timeline-item">
                                    Seats : @eventToDisplay.MaximumAttendeeCapacity
                                </em>
                                <em class="timeline-item">
                                    Ticket: $@eventToDisplay.Price
                                </em>
                                <em class="timeline-item">
                                    Date : @eventToDisplay.DoorTime
                                </em>
                                <em class="timeline-item">
                                    Duration : @eventToDisplay.Duration
                                </em>
                            </p>
                        </div>
                    </div>
                </li>
            }
            else
            {
                <li class="timeline-inverted">
                    <div class="timeline-badge">
                        <a><i class="fa fa-circle" id=""></i></a>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <a asp-controller="Events" asp-action="EventById" asp-route-id="@eventToDisplay.Id">
                                <h4>@eventToDisplay.Title</h4>
                            </a>
                        </div>
                        <div class="timeline-body">
                            <textarea class="timeline-desc col-md-6">@eventToDisplay.Description</textarea>
                            <p class="timeline-other col-md-6">
                                <em class="timeline-item">
                                    Category : @eventToDisplay.EventCategory.Name
                                </em>
                                <em class="timeline-item">
                                    Seats : @eventToDisplay.MaximumAttendeeCapacity
                                </em>
                                <em class="timeline-item">
                                    Ticket: $@eventToDisplay.Price
                                </em>
                                <em class="timeline-item">
                                    Date : @eventToDisplay.DoorTime
                                </em>
                                <em class="timeline-item">
                                    Duration : @eventToDisplay.Duration
                                </em>
                            </p>
                        </div>
                    </div>
                </li>
            }
            <li class="clearfix no-float"></li>
        }
    </ul>
</section>



